{% extends 'base.html' %}

{% block content %}
    <h2>All Ingredients</h2>

    {% if ingredients %}
        <ul>
            {% for ingredient in ingredients %}
                <li>
                    <span>
                        {{ ingredient.name }} - {{ ingredient.measure }}
                    </span>
                    <form method="post" action="{% url 'update_ingredient' ingredient.id %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit">Edit</button>
                    </form>
                    <form method="post" action="{% url 'delete_ingredient' ingredient.id %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No ingredients available.</p>
    {% endif %}
{% endblock %}
