{% extends 'base.html' %}

{% block title %}Список рецептів{% endblock %}

{% block content %}
    <h2>Список рецептів</h2>
    <ul>
        {% for recipe in recipes %}
            <li>
                <a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a>

                <form action="{% url 'update_recipe' recipe.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Редагувати</button>
                </form>

                <form action="{% url 'delete_recipe' recipe.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Видалити</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

