{% extends 'base.html' %}

{% block title %}Recipe Detail{% endblock %}

{% block content %}
    <h2>Recipe Detail</h2>
    <p>Recipe Name: {{ recipe.name }}</p>

    <ul>
        {% for recipe_item in recipe.recipeitem_set.all %}
            <li>
                <span>
                    {{ recipe_item.ingredient.name }} - {{ recipe_item.quantity }} {{ recipe_item.measure }}
                </span>
                <form method="POST" action="{% url 'update_recipe_item' recipe.id recipe_item.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Edit</button>
                </form>
                <form method="POST" action="{% url 'delete_recipe_item' recipe.id recipe_item.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'create_recipe_item' recipe_id=recipe.id %}">Create Recipe Item</a>
    <a href="{% url 'all_recipes' %}">Back to All Recipes</a>
{% endblock %}
