<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WAREHOUSE{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

<nav>
    <ul>
        <li><a href="{% url 'item' %}">Items</a></li>
        <li><a href="{% url 'warehouse' %}">warehouse</a></li>
        <li><a href="{% url 'recipe' %}">Рецепти</a></li>

    </ul>
</nav>

{% block content %}{% endblock %}

</body>
</html>
