<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WAREHOUSE{% endblock %}</title>
</head>
<body>

<nav>
    <ul>
        <li><a href="{% url 'ingredient' %}">Інгредієнти</a></li>
        <li><a href="{% url 'package' %}">Пакування</a></li>
{#        <li><a href="{% url 'container' %}">Тара</a></li>#}
{#        <li><a href="{% url 'recipe' %}">Рецепти</a></li>#}
{#        <li><a href="{% url 'warehouse' %}">Склад</a></li>#}

    </ul>
</nav>

{% block content %}{% endblock %}

</body>
</html>
